# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependências de build
/dist
/build

# Ambiente de desenvolvimento
/.env
/.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
