.divFundoSpan {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*garante que fique acima de
    todos outros elementos*/
    z-index: 999;
    /*puxa todos os eventos para essa div,
    bloqueando os eventos das divs abaixo*/
    pointer-events: all;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);

    * {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .spanImageProfile {
        width: 75vw;
        height: 70vh;
        margin-top: 15vh;
        background-color: var(--cor-fonte2);
        border-radius: 2vh / 2vh;
        box-shadow: 0 2vw 2vw 0 var(--cor-fonte1);

        #container {
            height: -webkit-fill-available;
            flex-direction: column;
            justify-content: space-evenly;

            .divImageProfile {
                height: 25vw;
                aspect-ratio: 1/1;
                border-radius: 50%;
                overflow: hidden;
                background-color: #fff;
                position: relative;

                .imgProfile {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        background-size: cover;
                        background-image: url(../../img/erro-icon.png);
                    }
                
                    .img-camera {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        background-image: url(/img/icone-camera.svg);
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 0;
                        transition: 0.2s linear;
                    }
                
                    &:hover {
                        .img-camera {
                            display: block;
                            cursor: pointer;
                            opacity: 0.5;
                        }
                    }
            }

            .buttons {
                width: 100%;
                height: 5vw;
                gap: 15vw;
                margin-block: 0;

                #btnCancel {
                    background: none;
                    border: 0.1vw solid var(--cor-fonte1);
                    color: var(--cor-fonte1);
                }
            }
        }
    }
}