.divFundoSpan {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*garante que fique acima de
    todos outros elementos*/
    z-index: 999;
    /*puxa todos os eventos para essa div,
    bloqueando os eventos das divs abaixo*/
    pointer-events: all;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);

    .spanImageProfile {
        width: 75vw;
        height: 70vh;
        margin-top: 10vh;
        background-color: blueviolet;
    }
}