@font-face {
    font-family: "Gotham Bold";
    src: url(/fonts/Gotham\ Bold.otf);
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: "Gotham Bold";

    body {
        width: 100dvw;
        height: 100dvh;
        background-color: darkred;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .container {
            margin-top: -20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3vh;

            .erro {
                width: 20vh;
                height: 20vh;
                background-image: url(/img/erro-icon.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            a {
                color: #00a2ff;
            }
        }
    }
}